body {
  background-color: lightblue;
}
h1 {
  color: maroon;
  text-align: center;
}

p {
  border-style: outset;
  padding-left: 20px;
  max-width: 500px;
}

img {
  width: 30%;
  height: 30%;
}

.a {
  display: block;
  margin: auto;
  width: 50%;
}